/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

/* General Classes */
.container {
    margin: 0 auto;
}

.background-grey {
    background-color: rgb(246, 246, 246);
}

.purple-text {
    color: rgb(114, 137, 218);
}

/* Header */
header {
    background-color: rgb(37, 94, 233);
    display: flex;
    padding: 20px 0;
}

header .wrapper {
    display: flex;
    width: 50%;
    height: 50px;
    line-height: 30px;
}

header .wrapper .logo {
    width: 20%;
}

header .wrapper .logo img {
    height: 30px;
}

header .wrapper nav {
    width: 60%;
    color: white;
}

header .wrapper nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header .wrapper nav ul li {
    margin-left: 25px;
}

header .wrapper .login {
    width: 20%;
    text-align: end;
}

header .wrapper .login .login-button {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    width: 65px;
    height: 35px;
    border: none;
}

header .wrapper .logo,
header .wrapper nav,
header .wrapper .login {
    padding: 5px;
}

/* Hero Section */
.hero {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.hero .hero-item {
    width: 30%;
    text-align: center;
}

.hero .hero-item h1 {
    font-size: 55px;
    color: white;
    margin-bottom: 30px;
}

.hero .hero-item p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.hero .hero-item .download-button {
    background-color: white;
    margin-right: 20px;
}

.hero .hero-item .discord-button {
    background-color: rgb(35, 39, 42);
    color: white;
}

.hero .hero-item .download-button,
.hero .hero-item .discord-button,
.videocall-section .videocall-wrapper .download-button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 17px;
}

/* General Column */
.tematic-channels-section,
.voice-channels-section,
.community-section {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.tematic-channels-section .tematic-channels-wrapper,
.voice-channels-section .voice-channels-wrapper,
.community-section .community-wrapper {
    height: 400px;
    width: 50%;
    display: flex;
}

.tematic-channels-section .tematic-channels-wrapper .img-wrapper,
.voice-channels-section .voice-channels-wrapper .img-wrapper,
.community-section .community-wrapper .img-wrapper {
    width: 70%;
    padding: 0px 50px;
}

.tematic-channels-section .tematic-channels-wrapper aside,
.voice-channels-section .voice-channels-wrapper aside,
.community-section .community-wrapper aside {
    width: 30%;
}

.tematic-channels-section .tematic-channels-wrapper .img-wrapper,
.community-section .community-wrapper .img-wrapper {
    text-align: end;
}

.tematic-channels-section .tematic-channels-wrapper .img-wrapper img,
.voice-channels-section .voice-channels-wrapper .img-wrapper img,
.community-section .community-wrapper .img-wrapper img {
    height: 100%;
}

.tematic-channels-section .tematic-channels-wrapper aside h2,
.voice-channels-section .voice-channels-wrapper aside h2,
.community-section .community-wrapper aside h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.tematic-channels-section .tematic-channels-wrapper aside p,
.voice-channels-section .voice-channels-wrapper aside p,
.community-section .community-wrapper aside p {
    font-size: 17px;
    font-weight: 600;
}

/* Video Call Section */
.videocall-section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.videocall-section .videocall-wrapper {
    width: 50%;
    text-align: center;
}

.videocall-section .videocall-wrapper h2 {
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.videocall-section .videocall-wrapper .start-adventure {
    background-image: url("../img/stars.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 26px;
    margin-bottom: 30px;
}

.videocall-section .videocall-wrapper .download-button {
    color: white;
    background-color: rgb(142, 161, 225);
}

/* Footer */
footer {
    background-color: rgb(35, 39, 42);
}

/* Upper Footer */
footer .upper-footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

footer .upper-footer .footer-wrapper {
    display: flex;
    width: 50%;
    border-bottom: 1px solid rgb(114, 137, 218);
    padding-bottom: 20px;
}

footer .upper-footer .footer-wrapper aside {
    width: 30%;
}

footer .upper-footer .footer-wrapper aside h2 {
    font-size: 35px;
}

footer .upper-footer .footer-wrapper aside .languages {
    margin: 15px 0;
}

footer .upper-footer .footer-wrapper aside .languages img {
    height: 13px;
}

footer .upper-footer .footer-wrapper aside .footer-icons > * {
    margin-right: 15px;
}

footer .upper-footer .footer-wrapper aside .languages,
footer .upper-footer .footer-wrapper aside .footer-icons {
    color: white;
}

footer .upper-footer .footer-wrapper .column4-wrapper {
    display: flex;
    width: 70%;
}

footer .upper-footer .footer-wrapper .column4-wrapper .column {
    width: calc(100% / 4);
}

footer .upper-footer .footer-wrapper .column4-wrapper .column h3 {
    margin-bottom: 10px;
}

footer .upper-footer .footer-wrapper .column4-wrapper .column ul {
    list-style-type: none;
}

footer .upper-footer .footer-wrapper .column4-wrapper .column ul li {
    color: white;
    margin-bottom: 10px;
}

/* Bottom Footer */
footer .bottom-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

footer .bottom-footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

footer .bottom-footer .footer-wrapper img {
    height: 30px;
}

footer .bottom-footer .footer-wrapper .signup-button {
    background-color: rgb(142, 161, 225);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
}




